#empContainer {
    position: relative;
    /* font-size: 20px;
    position: absolute;
    padding: 20px;
    height: -webkit-fill-available;
    width: 85%; */
}

.inputField {
    margin: 0px -7vw 0px 13vw;
    height: 4vh;
    width: 20%;
    padding: 0vw 2vh;
}

/* label {
    padding: 0vh 16vw 0vh 6vw;
} */
.labelheading {
    padding: 2vh 0vw 0.5vh 0vw;
    font-size: 15px;
    color: #8b008b94;
}

.formheading {
    padding: 20px 0px 0px 0px;
    color: darkmagenta;
    font-size: 30px;
    text-align: center;
}
.first {
    width: 50%;
    text-align: center;
    margin-left: -6px;
    /* padding: 0vh 17.25vw 0vh 6vw; */
}

.last {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-top: -32px;
    margin-right: 11vw;
    /* padding: 0vh 16vw 0vh 5.5vw; */
}

.age {
    padding: 0vh 16vw 0vh 6.69vw;
}

.mobileNo {
    padding: 0vh 17.25vw 0vh 6vw;
}
.phonoNo {
    padding: 0vh 17.25vw 0vh 5.7vw;
}
.emailAdd {
    margin-left: -23px;
    /* padding: 0vh 19vw 0vh 6vw; */
}
.city {
    padding: 0vh 19vw 0vh 4.7vw;
}
.state {
    margin-right: 12vw;
    /* padding: 0vh 17vw 0vh 6.5vw; */
}
.role {
    margin-right: 12vw;
    /* padding: 0vh 19vw 0vh 3.25vw; */
}
.expriance {
    margin-left: 10px;
    /* padding: 0vh 12vw 0vh 6vw; */
}
.address {
    margin-left: -15px;
}

.dept {
    width: 50%;
    text-align: center;
    margin-left: -2px;
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 41px;
    padding: 10px 20px;
    margin: 20px 10px;
}
.buttonColor {
    background-color: #4CAF50;
}

.but {
    text-align: right;
    width: 94%;
}
.buttonCancel{
    background-color: lightgray;
    
}

.dashboard {
    background-color: #8a2be27a;
    padding: 26px 0px;
}

.menu {
    text-align: left;
    font-size: 18px;
    margin: 0px 0px -17px 13px;
    color: white;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: -15px;
    font-size: 26px;
    color: white;
}

#empMainContainer {
    background-color: #f5f5f0;
    width: 62vw;
    height: 77vh;
    margin: auto;
    position: relative;
    top: 45px;
    padding: 25px;
}