<div id="empContainer">
  <div class="dashboard">
    <div class="menu"><i class="fa fa-arrow-left" aria-hidden="true" (click)="empList()"></i></div>
    <div class="title"><p>Employee Form</p></div>
  </div>
</div>
<div id="empMainContainer">
  <form [formGroup]="empForm">
    <div>
      <p class="formheading">Basic Info</p>
      <div class="labelheading">
        <p class="first">FirstName</p>
        <p class="last">LastName</p>
      </div>
      <div>
        <input type="text" class="inputField" placeholder="Firstname" formControlName="firstName"/>
        <input type="text" class="inputField" placeholder="Lastname" formControlName="lastName"/>
      </div>
      <div class="labelheading">
        <p class="first emailAdd">Email</p>
        <p class="last">MobileNo</p>
      </div>
      <div>
        <input type="email" class="inputField" placeholder="Email" formControlName="email"/>
        <input type="number" class="inputField" placeholder="MobileNo" formControlName="mobileNo"/>
      </div>
      <div class="labelheading">
        <p class="first address">Address</p>
        <p class="last state">State</p>
      </div>
      <div>
        <input type="text" class="inputField" placeholder="Address" formControlName="address"/>
        <input type="text" class="inputField" placeholder="state" formControlName="state"/>
      </div>

      <p class="formheading">employee details</p>
      <div class="labelheading">
        <p class="dept">Department</p>
        <p class="last role">Role</p>
      </div>
      <div>
        <input type="text" class="inputField" placeholder="Department" formControlName="department"/>
        <input type="text" class="inputField" placeholder="Role" formControlName="role"/>
      

      </div>
      <div class="labelheading">
        <p class="first expriance">Work experience</p>
      </div>
      <div>
        <input type="number" class="inputField" placeholder="Experience" formControlName="experience"/>
      </div>
      <div class="but">
          <button class="button buttonColor" (click)="save()">Save</button>
          <button class="button buttonCancel" (click)="cancel()">Cancel</button>
      </div>
     
    </div>
  </form>

</div>
